extends common/layout

block title 
  | Бухучет ПРО

block content
  include layout/blocks/promo
  include layout/blocks/possibilities
  include layout/blocks/benefits
  include layout/blocks/offer
  include layout/blocks/manual
  include layout/blocks/video-footage
  include layout/blocks/updates