- var menuList = {'about' : 'О нас', 'products' : 'Продукты', 'news' : 'Новости', 'contacts' : 'Контакты'};

header.header 
  .container.header__content
    a.header__logo(href="/") 
      img.header__logo-img(src="img/logo.svg", alt="лого: Бухучет ПРО")

    nav.header__menu.menu
      ul.menu__list
        each value, key in menuList
          li.menu__item
            a.menu__link(href= "#" + key)= value
    
    button.header__search-btn 
      img.header__search-icon(src="img/search-icon.svg", alt="иконка: поиск")

    button.btn.header__cta 
      | Заказать звонок

    button.header__menu-btn
      img.header__menu-icon(src="img/menu-icon.svg", alt="иконка: меню")
