-
  var benefitsList = [
    {'title': 'Простота', 'description': 'Быстрая и простая установка программного обеспечения'},
    {'title': 'Бесплатные обновления', 'description': 'Обновляйтесь в один клик прямо из программы через интернет'},
    {'title': 'Поддержка', 'description': 'Получите быструю бесплатную поддержку по любому вопросу'},
    {'title': 'Оперативность', 'description': 'Быстрая реакция на изменения в законодательстве'},
    {'title': 'Гибкость', 'description': 'Неограниченное количество рабочих мест. Цена формируется в зависимости от количества сотрудников и комплектации программы'},
    {'title': 'Доступность', 'description': 'Вам не нужно платить, чтобы начать работать с программой. Скачайте ее прямо сейчас!'},
    {'title': 'Лояльность', 'description': 'Более того, ежегодно до первого апреля вы можете использовать все возможности программы - бесплатно!'},
    {'title': 'Рациональность', 'description': 'Вы покупаете только отчетный год! Все обновления в течение года бесплатны'}
  ];

section.section.container.benefits
  h2.section-title Преимущества
  ul.benefits__list 
    each object, index in benefitsList 
      li.benefits__item
            span.benefits__number.title= '0' + (+index+1)
            span.benefits__title.title= object['title']
            p.benefits__subtitle= object['description']