-
  var manualList = [
    {'title': 'ПК «Бухучет ПРО»: Полное руководство', 'icon': 'img/pdf-icon.svg', 'size': '546 кб', 'btn-icon': 'img/download-icon.svg'},
    {'title': 'ПК «Бухучет ПРО»: Полное руководство', 'icon': 'img/manual-icon.svg', 'size': '', 'btn-icon': 'img/open-icon.svg'},
  ];

section.section.container.manual#products
    h2.section-title Руководство пользователя

    ul.manual__list
      each object, index in manualList
        li.manual__item
          img.manual__icon(src= object['icon'], alt=object['title'])

          p.manual__text 
            span.manual__title= object['title']
            span.manual__size= object['size']
          
          button.manual__btn
            img.manual__btn-icon(src= object['btn-icon'], alt=object['title'])

    p.manual__description 
      | Для Программы “Бухучет ПРО” создан и постоянно обновляется Руководства пользователя в PDF-формате. Руководство пользователя также представленно в web-формате с системой контекстного поиска.