section.section.container
  .offer

    h2.offer__title 
      span.offer__subtitle Все еще думаете?
      span.title Просто попробуйте!

    .offer__btns 
      button.btn Купить от 4900 Р
      button.link.offer__btn Скачать
