-
  var possibilitiesList = [
    {'title': 'Физлица', 'subtitle': 'Кадры и отчетность', 'icon': 'img/person-icon.svg', 'description': 'Кадры и отчетность За период с 1 января по 1 апреля 2007 года объем производства промышленной продукции составил 3 млрд. рублей или 103,1% к прошлому году. Доля перерабатывающих производств в общем объеме производства промышленной продукции – 63,8 процента. В настоящее время в Республике Мордовия выпускаются около 70 видов продукции.'},
    {'title': 'Зарплата', 'subtitle': 'Расчет заработной платы', 'icon': 'img/salary-icon.svg', 'description': 'Расчет заработной платы с разными схемами начисления и с использованием разных систем налогообложения (ОСНО, УСНО), удержания из заработной платы, расчет отпуска, расчет при увольнении (до 5 человек).'},
    {'title': 'Отчетность по ТСК', 'subtitle': 'Отчетность через интернет', 'icon': 'img/web-icon.svg', 'description': 'На данный момент мы являемся официальным представителем компании «АСК», которая предоставляет услуги по обслуживанию системы сдачи электронной отчетности "Контур".'},
    {'title': 'Виды деятельности', 'subtitle': 'ТСЖ, ГСК, СНТ и комиссионные сборы', 'icon': 'img/activities-icon.svg', 'description': 'Решил попробовать собрать здесь информацию о том, как избежать или снизить выплаты в ТСЖ, УК, ЖСК и прочих компаниях. Для меня это актуально на данный момент, т.к. являюсь руководителем ТСЖ.'},
    {'title': 'Отчетность', 'subtitle': 'Отчетность в ФНС, ПФР, ФСС, ФСРАР и ЭДО', 'icon': 'img/report-icon.svg', 'description': 'С 2019 года в России начинают действовать новые формы отчетности: отчетность для подачи в налоговую службу, отчетность в Фонд соцстрахования, отчет в Пенсионный фонд, а также форма представления электронных данных через оператора.'},
    {'title': 'Бухучет', 'subtitle': 'Бухгалтерский учет', 'icon': 'img/accounting-icon.svg', 'description': 'Бухгалтерский учет в розничной торговле: учет товаров, расчетов покупателями, кассовых операций, затрат на продажу, финансовых результатов.'},
    {'title': 'Миниучет', 'subtitle': 'Упрощенка', 'icon': 'img/simple-icon.svg', 'description': 'Как не платить налоги, но отчитаться о доходах. Упрощенец по требованию налогового органа должен представить документы, подтверждающие правильность исчисления и своевременность уплаты обязательных платежей в бюджет.'},
    {'title': 'Дополнительные бесплатные функции', 'subtitle': 'Функции, делающие вашу работу удобнее и проще', 'icon': 'img/free-icon.svg', 'description': 'Прочитайте все письма за один раз, пересмотрите и восстановите все контакты, сохраняйте и редактируйте документы.'}
  ];

section.section.container.possibilities#about
  h2.section-title Основные возможности
  ul.possibilities__list 
    each object, index in possibilitiesList 
      li.possibilities__item
        button.possibilities__btn
          img.possibilities__icon(src= object['icon'], alt=object['title'])
          p.possibilities__text 
            span.possibilities__title.title= object['title']
            span.possibilities__subtitle= object['subtitle']
        
        p.possibilities__description= object['description']