-
  var updatesList = [
    {'date': '05.01.2021', 'description': 'Добавлен 2021-й отчетный год в разделе деклараций и 2-НДФЛ.'},
    {'date': '01.01.2021', 'description': 'Отчет "Среднесписочная численность сотрудников" с 2021 года отменена. Теперь информация о среднесписочной численности за 2020 год подаётся в составе РСВ за 2020 год.'},
    {'date': '14.04.2020', 'description': 'Появилась возможность передачи формы ПОВЭД (Подтверждение основного вида экономической деятельности) в адрес ФСС.'},
    {'date': '12.02.2020', 'description': 'Обновлен модуль контроля отчетности. Теперь у нас можно тестировать файлы СЗВ-ТД, отправляемые в ПФР.'}
  ];

section.section.container.updates#news
  h2.section-title Обновления программы
  .updates__wrapper
    ul.updates__list 
      each object, index in updatesList 
        //- li.updates__item
        //-       span.updates__date.title= object['date']
        //-       p.updates__description= object['description']

    button.btn#load-more Загрузить еще